* {
  margin: 0;
  padding: 0;
}
.header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}
.menu {
  margin: 70px 0;
}
.menu .menu-list-items {
  display: inline-block;
}
header p {
  font-size: 50px;
}
header .yellow {
  color: yellow;
}
.Bottom {
  padding: 50px;
  text-align: center;
  line-height: 30px;
  background-color: grey;
}
.Expertise {
  background-color: orange;

  padding: 20px 90px 0;
}
.Expertise h2 {
  text-align: center;
  color: white;
}
.image {
  margin-top: 20px;
}
footer {
  background-color: black;
  color: white;
  padding: 50px 20px;
}
address {
  width: 110px;
  margin-top: 10px;
  line-height: 25px;
}
